@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  overflow-x: hidden;
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fafbfb;
}
.text-center {
  text-align: center;
}
