@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fafbfb;
}
.text-center {
  text-align: center;
}
